@import '../../../../styles/assets/scss/component/groupvariable';
@import '../../../../styles/assets/scss/component/mixin';

 
.gridwrap {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(22rem,1fr));
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.thumbsItem {
    display: inline-block;
    img {
        display: block;
        width: 100%;
        object-fit: cover;

    }
}
.thumbsWrap {
    background-color: $white;
    @include box_shadow(1);
    text-align: center;
}
.thumbsContent {
    padding: 1rem;
    text-align: left;
    p {
        margin-bottom: 0;
    }
}

.bannerImg {
    @include flex;
    position: relative;
    @include justify-content(center);
    height: 360px;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.userWrap {
    text-align: center;
    max-width: 508px;
    margin: -80px auto 0 auto;
    .userName {
        font-size: $font-xllarge;
    }
    .userMore {
        font-size: $font-large;
    }
    .userDesc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.btnGroups {
	.btn {

		font-size: $font-large;
		&:not(:last-child) {
			margin-right: 32px;
		}
	}
}
.statusWrap {
    font-size: $font-medium;
    margin-bottom: 1rem;
    span {
        font-weight: 600;
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}
.socialList {
    margin-top: 23px;
    margin-bottom: 75px;
	@include inline-flex;
	@include align-items(center);
	span {
		margin-right: 1rem;
	}
	a {
		&:not(:last-child) {
			margin-right: 35px;
		}
	}
}
.copyWrap {
    transition: all 0.3s;
    display: inline-block;
    cursor: pointer;
    font-size: $font-medium;
    &:hover {
        color: $primary;
    }

}
.copyTxt {
    margin-left: 1rem;
}
.btnPrimary {
    padding: 0.5rem 1rem;
    display: inline-block;
    border: 2px solid #3A3A43;;
    font-size: $font-large;
    transition: all 0.5s;
    margin-bottom: 2rem;
    border-radius: 4px;
    &:not(:last-child) {
        margin-right: 1rem;
    }
    &:hover, &:active {
        background-color: $primary;
    }
    &.active {
        background-color: $primary;
    }
}
.uploadBanner {
    position: absolute;
    bottom: 24px; right: 24px;
}
.changeCover {
    padding: 1rem 2rem;
    border: 2px solid $border;
    border-radius: 4px;
    transition: all 0.5s;
    &:hover, &:active {
        background-color: $primary;
    }
    &.active {
        background-color: $primary;
    }
}
.browsePhoto {
    position: absolute;
    height: 100%; width: 100%;
    opacity: 0;
}