// Color system

$border-light      	:#f2f2f2;
$border         	:#3A3A43;;
$border-dark      	:#000;
$border-gray      	:#8D9095;


$border-100      	:#DDDDDD;
$border-200      	:#CFCFCF;
$enable-rounded 	:true;
$gray-bg      		:#f7f7f7;
$gray-color   		:#AFAFAF;
$body-bg            :#F5F5F5;

@import './variables/text_link';
@import "variables/colors";
@import "variables/forms";
@import "variables/container";
@import "variables/text_link";
