// Utility Color

$default		  :#3A3A43;
$primary		  :#006BCD;
$secondary		  :#00CCA9;
$ternary		  :#0AAFAB;
$success		  :#28a745;
$info			  :#AFAFAF;
$warning		  :#ffc107;
$danger           :#ff0000;
$error			  :#e20;
$dark             :#343a40;
$light            :#f8f9fa;
$gray_dark        :#D8D8D8;
$placeholder_color:#D8D8D8;



$white        :#fff; 
$black        :#000; 
$blue         :#0d2d7f;
$red          :$danger;
$red-light    :#F1085F;
$purple       :#5C2D91;
$yellow       :$warning;
$green        :#3B8036;
$green-light  :#00C16B;



$gray: 			#ACACAC;
$gray-5: 		#8D9095;
$gray-10: 		#F1F1F1;
$gray-20: 		#DDDBDB;
$gray-25: 		#EEEEEE;
$gray-40: 		#BBB7B7;
$gray-50: 		#E6E6E6;
$gray-100: 		#929292;
$gray-150: 		#B4B4B4;
$gray-200: 		#6c757d;
$gray-300: 		#B7B7B7;
$gray-400: 		#757575;
$gray-500: 		#494949;
$gray-600: 		#707070;
$gray-650: 		#5F5F5F;
$gray-670: 		#606060;
$gray-700: 		#A7A7A7;
$gray-800: 		#efefef;
$gray-900: 		#f5f5f5;
$gray-950: 		#F8F8F8;
$gray-960: 		#CFCFCF;
$gray-970: 		#C2C2C2;
$gray-980: 		#E5E6FF;

//$gray-light:    #F6F6F6;

$green-50:		#C9F3DE;
$green-100:		#15B45A;
$green-200:		#2abe00;



$yellow-100:	 #ffdbbd;
$yellow-200:	 #FFF5FA;
$orange:		 #fef2e8;
$orange-100:	 #FF9100;

$blue-200:    		#4e71a4;
$blue-400:    		#2B73D1;
$blue-light:		#231f20;



// Overlay Color
$overlay-default	:#6c757d;
$overlay-light 		:#495057;
$overlay-dark  		:#212529;

// BG Color
$body-bg:           $white !default;
$body-color:        $gray-900 !default;

//$gray-bg			:#E6E6E6;
//$border-light      	:#f2f2f2;
// End common colors name


//==============================================
// Typo BG color 
$bg-default-color:       $white;
$bg-primary-color:       $primary;
$bg-secondary-color:     $secondary;
$bg-success-color:       $success;
$bg-danger-color:        $danger;
$bg-warning-color:       $warning;
$bg-info-color:          $info;
$bg-light-color:         $light;
$bg-dark-color:          $dark;
$bg-muted-color:         $secondary;
$bg-white-color:         $white;
