//==============================================
// Container sizes 
$grid-gutter-width:         30px !default;

$screen-xs:                 576px !default;
$screen-xs-min:             $screen-xs !default;
$screen-mobile:             $screen-xs-min !default;

$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// Extra Large Screen Sizes
$screen-xl:                  1600px !default;
$screen-xl-min:              $screen-xl !default;
$container-xl:               1740px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-lg-min - 1) !default; // extra large screen size

// Small screen / Mobile
$container-mobile:             (510px + $grid-gutter-width) !default;
$container-xs:                 $container-mobile !default;

// Small screen / tablet
$container-tablet:             (690px + $grid-gutter-width) !default;
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (930px + $grid-gutter-width) !default;
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1570px + $grid-gutter-width) !default;
$container-lg:                 $container-large-desktop !default;
