@import './colors';
@import './font_family';

// Start Font Size 
$font-micro:				0.625rem; // 10px;
$font-mini:				 	0.75rem; // 12px;
$font-small:				0.875rem; // 14px;
$font-normal:				1rem;	// 16px;
$font-medium:				1.125rem; // 18px;
$font-large:				1.5rem;  // 24px;
$font-xlarge:				2rem;  // 32px;
$font-xllarge:				2.25rem;  // 36px;
$font-xxllarge:				2.5rem;  // 40px;
$font_title-large 			:3rem; // 48px;
// End Font Size

$spacer:					1rem;
$line-height-base:      	1.5 !default;
$paragraph-margin-bottom:     1rem !default;

//==============================================
// Common Variables
$font-size-base:              $font-normal !default;
$font-size-xxlg:              ($font-size-base * 1.75) !default;
$font-size-xlg:               ($font-size-base * 1.5) !default;
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;
$font-size-xsm:               ($font-size-base * .675) !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            400 !default;
$line-height-base:            1.5 !default;
$line-height-xxlg:            2 !default;
$line-height-xlg:             1.7 !default;
$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;
$line-height-xsm:             1 !default;

//==============================================
// Typo Font Size 
$text-mini-font-size:		$font-mini;
$text-mini-text-color:		$default;
$text-mini-font-family:		$primaryfonts;
$text-small-font-size:		$font-small;
$text-small-text-color:		$default;
$text-small-font-family:	$primaryfonts;
$text-normal-font-size:		$font-normal;
$text-normal-text-color:	$default;
$text-normal-font-family:	$primaryfonts;
$text-large-font-size:		$font-large;
$text-large-text-color:		$default;
$text-large-font-family:	$primaryfonts;
$text-xlarge-font-size:		$font-xlarge;
$text-xlarge-text-color:	$default;
$text-xlarge-font-family:	$primaryfonts;
$text-xxlarge-font-size:	$font-xxllarge;
$text-xxlarge-text-color:	$default;
$text-xxlarge-font-family:	$primaryfonts;

// Typo Text Color
$text-default-text-color:  	$default;
$text-default-font-size:   	$font-normal;
$text-default-font-family: 	$primaryfonts;
$text-primary-text-color:  	$primary;
$text-primary-font-size:   	$font-normal;
$text-primary-font-family: 	$primaryfonts;
$text-secondary-text-color: $secondary;
$text-secondary-font-size:  $font-normal;
$text-secondary-font-family:$primaryfonts;
$text-success-text-color:   $success;
$text-success-font-size:   	$font-normal;
$text-success-font-family: 	$primaryfonts;
$text-danger-text-color:    $danger;
$text-danger-font-size:   	$font-normal;
$text-danger-font-family: 	$primaryfonts;
$text-warning-text-color:   $warning;
$text-warning-font-size:   	$font-normal;
$text-warning-font-family: 	$primaryfonts;
$text-info-text-color:      $info;
$text-info-font-size:   	$font-normal;
$text-info-font-family: 	helvetica;
$text-light-text-color:     $light;
$text-light-font-size:   	$font-normal;
$text-light-font-family: 	helvetica;
$text-dark-text-color:      $dark;
$text-dark-font-size:   	$font-normal;
$text-dark-font-family: 	helvetica;
$text-muted-text-color:     $secondary;
$text-muted-font-size:   	$font-normal;
$text-muted-font-family: 	$primaryfonts;
$text-white-text-color:     $white;
$text-white-font-size:   	$font-normal;
$text-white-font-family: 	$primaryfonts;

//==============================================
// Typo Text Link Size 
$link-mini-font-size:		0.7rem;
$link-mini-text-color:		$default;
$link-mini-font-family:		$primaryfonts;
$link-small-font-size:		0.85rem;
$link-small-text-color:		$default;
$link-small-font-family:	$primaryfonts;
$link-normal-font-size:		1rem;
$link-normal-text-color:	$default;
$link-normal-font-family:	$primaryfonts;
$link-large-font-size:		1.5rem;
$link-large-text-color:		$default;
$link-large-font-family:	$primaryfonts;
$link-xlarge-font-size:		2rem;
$link-xlarge-text-color:	$default;
$link-xlarge-font-family:	$primaryfonts;
$link-xxlarge-font-size:	2.5rem;
$link-xxlarge-text-color:	$default;
$link-xxlarge-font-family:	$primaryfonts;

// Typo Text Link color 
$link-default-text-color:       $default;
$link-default-font-size:       	$font-normal;
$link-default-font-family:      $primaryfonts;
$link-primary-text-color:       $primary;
$link-primary-font-size:       	$font-normal;
$link-primary-font-family:      $primaryfonts;
$link-secondary-text-color:     $secondary;
$link-secondary-font-size:      $font-normal;
$link-secondary-font-family:    $primaryfonts;
$link-success-text-color:       $success;
$link-success-font-size:       	$font-normal;
$link-success-font-family:      $primaryfonts;
$link-danger-text-color:        $danger;
$link-danger-font-size:       	$font-normal;
$link-danger-font-family:      	$primaryfonts;
$link-warning-text-color:       $warning;
$link-warning-font-size:       	$font-normal;
$link-warning-font-family:      $primaryfonts;
$link-info-text-color:          $info;
$link-info-font-size:       	$font-normal;
$link-info-font-family:      	$primaryfonts;
$link-light-text-color:         $light;
$link-light-font-size:       	$font-normal;
$link-light-font-family:      	$primaryfonts;
$link-dark-text-color:          $dark;
$link-dark-font-size:       	$font-normal;
$link-dark-font-family:      	$primaryfonts;
$link-muted-text-color:         $secondary;
$link-muted-font-size:       	$font-normal;
$link-muted-font-family:      	$primaryfonts;
$link-white-text-color:         $white;
$link-white-font-size:       	$font-normal;
$link-white-font-family:      	$primaryfonts;

//==============================================

// Style Anchor elements
$link-color:                  theme-color("primary") !default;
$link-decoration:             none !default;
$link-hover-color:            darken($primary, 15%) !default;
$link-hover-decoration:       underline !default;

// Type Heading 
$h1-font-size:                $font-size-base * 3 !default;
$h2-font-size:                $font-size-base * 1.5 !default;
$h3-font-size:                $font-size-base * 1.12 !default;
$h4-font-size:                $font-size-base * 1.125 !default;
$h5-font-size:                $font-size-base * 1 !default;
$h6-font-size:                $font-size-base * 0.75 !default;
$headings-margin-bottom:      ($spacer / 2) !default;

// Title Variables
$main-title-font-size:		$font-large;
$main-title-text-color:		$text-default-text-color;
$main-title-line-height:	1.2;
$main-title-font-weight:	bold;
$main-title-text-transform:	uppercase;

$main-title-badge-font-size: $font-small;
$main-title-badge-text-color:$text-default-text-color;

$sub-title-font-size:		$font-medium;
$sub-title-text-color:		$text-default-text-color;
$sub-title-line-height:		1.2;
$sub-title-font-weight:		normal;
$sub-title-text-transform:	capitalize;

$small-title-font-size:		$font-normal;
$small-title-text-color:	$text-default-text-color;
$small-title-line-height:	1.2;
$small-title-font-weight:	bold;
$small-title-text-transform:capitalize;

$mini-title-font-size:		$font-mini;
$mini-title-text-color:		$text-default-text-color;
$mini-title-line-height:	1.2;
$mini-title-font-weight:	bold;
$mini-title-text-transform:capitalize;
