@import '../groupvariable';
@import '../mixin';

footer {
	padding-top: 18.5px;
	padding-bottom: 18.5px;
}

.footer-row {
	@include flex;
	@include justify-content(space-between);	
}

.social-container{
	@include inline-flex;
	@include align-items(center);
	span {
		margin-right: 1rem;
	}
	a {
		&:not(:last-child) {
			margin-right: 35px;
		}
	}
}
.copyright {
	@include flex;
	@include align-items(center);
}