@import '../groupvariable';
@import '../mixin';

header {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include box_shadow(1);
    ul, ol {
    	list-style: none;
    	padding: 0;
    	margin: 0;
    }
    .wallet-wrap {
    	li {
    		display: inline-block;
    		padding: 0 10px;
    		&:first-child {
    			border-right: 1px solid $black;
    		}
    	}
    }
}
.header-row {
	@include flex;
	justify-content: flex-end;
	flex-wrap: wrap;
    align-items: center;
}


@media all and (max-width: 768px) {
    .header-row {
        padding: 1rem;
        .menu {
            display: none;
        }
    }

}

@media all and (max-width: 480px) {
    .header-set-1128 .logo {
        margin-right: 1rem;
    }

}
