
@import './component/groupvariable';
@import './component/layout/header';
@import './component/layout/footer';
@import './global/container';
@import './global/typography';
@import './global/form';


// Start grid view

.contentwrap {
  min-height: 300px;
  display: flex;
  align-items: center;
}

@media all and (min-width: 768px) {

}
@media all and (min-width:1550px) {

}

@media all and (max-width:992px) { 


}

@media all and (max-width:768px) {

}
@media all and (max-width:420px) {


}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
